
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: rgb(2,0,36);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,79,88,1) 19%, rgba(3,191,210,1) 54%, rgba(50,174,199,1) 100%);
        }
    </style>
</head>
<body>
    <div>
       

        <section class=" gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">
                                    @using (Html.BeginForm("Create", "Account", FormMethod.Post))
                                    {
                                        <h2 class="fw-bold mb-2 text-uppercase">Kayıt Ol</h2>
                                        <p class="text-white-50 mb-5">Lütfen kullanıcı adınızı ve şifrenizi girin!</p>
                                        <div class="form-outline form-white mb-4">
                                            <input type="text" id="" class="form-control form-control-lg" name="Name" />
                                            <label class="form-label" for="">Name</label>
                                        </div>
                                        <div class="form-outline form-white mb-4">
                                            <input type="email" id="typeEmailX" class="form-control form-control-lg" name="Email" />
                                            <label class="form-label" for="typeEmailX">Email</label>
                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <input type="password" id="typePasswordX" class="form-control form-control-lg" name="Password" />
                                            <label class="form-label" for="typePasswordX">Şifre</label>
                                        </div>

                                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Kayıt Ol</button>

                                    }
                                </div>

                                <div>
                                    <p class="mb-0"> <a href="@Url.Action("Login", "Account")" class="text-white-50 fw-bold">Giriş Ekranına Dön</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
