@model AD_BlogProject_2021.Models.EntityFramework.Contacts
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contactbutton {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 40px;
        border-radius: 50px;
        transition: 0.5s;
        margin-top: 30px;
        color: #fff;
        background: #34b7a7;
        border: none;
    }

     .contactbutton:hover {
        color: #fff;
    }
</style>

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">

            @Html.Partial("_SectionTitle")

            <div class="row mt-5">
                <div class="col-lg-8 mt-5 mt-lg-0 m-auto ">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()


                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="ContactName" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="ContactEmail" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="ContactBaslik" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="ContactMessage" rows="5" placeholder="Message" required></textarea>
                        </div>

                        <div class="text-center"><button type="submit" class=" contactbutton">Send Message</button></div>

                    }
                </div>
            </div>

        </div>

    </section><!-- End Contact Section -->

</main><!-- End #main -->
