@model List<AD_BlogProject_2021.Models.EntityFramework.Homes>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Hero Section ======= -->
@foreach (var item in Model)
{
    <section id="hero" class="d-flex align-items-center " style="background-image:url(@item.ImageURL); background-position:bottom,right; background-size:contain">
        <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">

            <h1>@item.Title</h1>
            <h2>@item.Subtitle</h2>

            

            <a href="@Url.Action("About", "Home")" class="btn-about">Hakkımda</a>
        </div>
    </section><!-- End Hero -->
}
