@model List<AD_BlogProject_2021.Models.EntityFramework.Abouts>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<article class="about-section py-5">
    <center>
        <div class="container ">
            @foreach (var item in Model)
            {

                <h2 class="title mb-3 ">@item.Title</h2>

                <p >
                    @Html.Raw(@item.Description)
                </p>
                @*<figure>
                    <img class="img-fluid"
                         src="~/Content/BlogContent/images/about-me.jpg"
                         alt="image" />
                </figure>*@
                
            }
           
        </div>
    </center>
</article>

