@model AD_BlogProject_2021.Models.ViewModel.BlogViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@section _Search
{
    @Html.Partial("_Search", Model.Tags)
}

<section class="blog-list px-3 py-5 p-md-5 ">
    <div class="container single-col-max-width">
        <div id="BlogFilter">
            @Html.Partial("_BlogFilter", Model.Blogs)
        </div>

        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link d-none rounded-left"
               href="#">
                Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i>
            </a>
            <a class="nav-link-next nav-item nav-link rounded" href="#">
                Next<i class="arrow-next fas fa-long-arrow-alt-right"></i>
            </a>
        </nav>
    </div>
</section>

@section Scripts2{

    <script>

        function blogGetir(TagId) {
            // tagGetir Fonksiyonum taglarda onclick fonksiyonu tetiklendiğinde içine verdiğim int değerenin bana getirmesini sağladı.
            //alert(TagId);
            $.ajax({
                //ajax ile aldığım tagId verisini controller'ımdaki TagFilter adında oluşturduğum action'a gönderdim
                url: '/Blog1/TagFilter',
                method: 'GET',
                data: { TagId }, // fonksitonumdan gelen parametrediki ıd değerini data olarak gönderiyorum.
                success: function (data) {
                    $('#BlogFilter').html(data);  // eğer ki action'ımdan bana veri gelirse o veriyi ben sayfamda göstereceğim
                    // Sayfamda görüneceği yer ise #BlogFilter adında oluşturduğum id'deki html basacak.
                },
                error: function (data) { // eğer ki verim boş geldiyse beni uyarsın taglar boş döndü
                    alert("Bloglar Filtrelenemedi!")
                }

            })
        }


    </script>


}

@section Scripts3{

    <script>

        
            $('#araButonu').click(function () {

                var arama = $('#ara').val();

            $.ajax({

            url: '/Blog1/SearchFilter',
            method: 'GET',
            async: false,
            data: { arama },
            success: function (data) {
                $('#BlogFilter').html(data);
                    },
            error: function (data) {
                alert("Bloglar Filtrelenemedi")
            }


                })
            });

    </script>

}